<link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

/*chalkboard plugin*/
<script src="plugin/chalkboard/plugin.js"></script>
<script>
    Reveal.initialize({
        // ...
        plugins: [ RevealChalkboard ],
        // ...
    });
</script>

<script>
  Reveal.configure({ showNotes: true });
</script>

.reveal section {
  text-align: left;
  margin-top: 2.8em;
}

.reveal {
  color:#292725;
  font-family: 'Noto Sans HK';
}

.reveal .slide-background {
  background:#f7efe1;
}

.reveal .slide-background.present {
    background:#f7efe1;
}

.reveal .title {
  font-size: 500%;
  text-align: center;
  vertical-align: center;
  color:white;
  letter-spacing: 20px;
  line-height: 2;
  /*display: inline-block;*/
  vertical-align: middle;
  margin-top: -1em;
  /*text-indent: 50px;*/
  
}

.reveal .box1 {
  color:white;
  background-color: #000;
  opacity: 0.7;
}

.reveal .small {
  font-size: 50%;
}

.reveal .answer {
  position: absolute;
  height: 5px;
}

.reveal h1 {
  text-align: left; 
  font-size: 4em; 
  color: #292725;
  font-family: 'Nixie One';
}

.reveal h2 {
  color: #292725;
  text-align: center; 
  font-family: 'Noto Sans HK';
}

.reveal h3,
.reveal h4 {
  color: #f7efe1;
  text-align: center;
 }

.reveal h5 {
  font-size: 1em;
}

.reveal p {
  text-align: left;
}

.reveal hr {
  width:25%;
  text-align:center;
}


.imgincrement {
  color: #f7efe1;
}

.reveal section img { 
  background:none; 
  border:none; 
  box-shadow:none; 
  }

/*blur background images */
/*.backgrounds {
     -webkit-filter: blur(3px);
     -moz-filter: blur(3px);
     -o-filter: blur(3px);
     -ms-filter: blur(3px);
     filter: blur(3px);
 }*/

.reveal .intro {
  background-position: center;
  background-size: 10%;
}

/*change title slide 
<style>
.slide-background:first-child {
  background-color: #00FF00;
}
</style>*/


}